<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN/" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.homedoc.dao.BoardDaoImpl"><!-- Class be looked -->

	
	
	<select id="getAllboardWithCategory" parameterType="com.www.homedoc.dto.BoardDto"
	resultType="com.www.homedoc.dto.BoardDto">
		select 
			*
		from
			board
		where 
			category = #{category}
		order by no desc
	</select> 
	
	
	

	
	
	
	
	<select id="getBoardListDoWithPagination"
	parameterType="java.util.HashMap"
	resultType="com.www.homedoc.dto.BoardDto"
	>
		select 
			* 
		from
			board 
	
			order by no desc
		limit #{startNo},#{perView }
		
	
	</select>
	
		<select id="getAllBoardWithPagination"
	parameterType="java.util.HashMap"
	resultType="com.www.homedoc.dto.BoardDto"
	>
		select 
			* 
		from
			board 
		order by no desc
			limit #{startNo},#{perPage}
		
	
	</select>
	
	<select id="getBoardForHomeWithLimit" 
		parameterType="java.util.HashMap"
		resultType="com.www.homedoc.dto.BoardDto"
	>
	
		select 
			* 
		from
			board 
		where category = #{category}
			order by no desc
		limit 0,#{end}
	</select>
	
	<update id="increaseHit"
		parameterType="int">
		update
			board
		set
			hit = hit + 1
		where
			no = #{no}
		
	</update>
	
	

	


	
	
</mapper>